body {
    background-color: #AE1332;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.tagline-container {
    position: relative; /* Set to relative to allow absolute positioning within it */
    width: 56.125rem;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

.tagline {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4rem; /* 100% */
    letter-spacing: -0.16rem;
    text-transform: uppercase;
    position: relative; /* Set to relative to define stacking context */
    z-index: 1;
}

.strawberry_blurred {
    position: absolute;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    background: url('') rgba(174, 19, 50, 0) 50%/ cover no-repeat; /* Use rgba color with alpha set to 0 for transparency */
    filter: blur(3.5px);
    top: -20px;
    right: 65px;
    z-index: 0; /* Set a lower z-index to place it behind the text */
}

.banana_blurred {
    position: absolute;
    width: 13.45063rem;
    height: 9.78831rem;
    transform: rotate(10deg);
    flex-shrink: 0;
    background: url(''),rgba(174, 19, 50, 0) 50%/ cover no-repeat; /* Use rgba color with alpha set to 0 for transparency */
    filter: blur(0.5px);
    top: 120px;
    left: 45px;
    z-index: 0; /* Set a lower z-index to place it behind the text */
}

.orangegirl_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 290px;
    z-index: 0;
}

.center_orange_girl {
    position: relative;
    height: 1000px;
    width: 650px;
    flex-shrink: 0;
    transform: scale(.65);
    border-radius: 500px
}